.list {
    margin-top: 2px;
    padding-left: 0px;
    
}

.list__item {
    background-color: white;
    margin-top: 1px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    padding: 10px;
}


.doneTask {
    text-decoration: line-through;

}